@model BookSwap.Mvc.Models.Message

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <h4>Повідомлення</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sender!.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction!.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>
